<div class="container">
    <div class="d-flex gutters justify-content-center row">
        <div class="w-75">
            <div class="card h-100">
                <div class="card-body">
                    <div class="account-settings">
                        <div class="user-profile">
                            <div class="user-avatar">
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Maxwell Admin">
                            </div>
                            <h5 class="user-name"> {{ user?.name }} </h5>
                            <h6 class="user-email"> {{ user?.email }} </h6>
                        </div>
                        <div class="about">
                            <h5>About</h5>
                            <p>
                               Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam assumenda iusto voluptatibus reiciendis! Eos exercitationem non unde ipsum necessitatibus temporibus at laborum nihil! Quam maxime quaerat alias quidem iusto sunt? 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>